<div class="root-wrapper horizontal-wrapper">
  <div class="side-bar side-filters light o-hidden">
    <div class="vertical-wrapper h-100 o-hidden">
      <player></player>
      <search-form
        class="vertical-wrapper sidebar-content h-100 o-hidden"
        (submitted)="onSearchSubmitted($event)"
      ></search-form>
    </div>
  </div>
  <div class="main o-hidden">
    <songs-list
      class="o-hidden"
      [specification]="songListSpecification"
    ></songs-list>
  </div>
</div>
<show-more-modal></show-more-modal>

<router-outlet></router-outlet>
