@model EditGenreViewModel

<div class="mb-5">
    <a class="btn btn-secondary" asp-action="Index">Back</a>
    <b>Update genre: @Model.Caption</b>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Caption"></label>
        <input class="form-control" asp-for="Caption" />
    </div>
    <div class="mb-3">
        <label asp-for="Order"></label>
        <input class="form-control" asp-for="Order" />
    </div>
    <button class="btn btn-primary">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
