@model EditCharacterViewModel

<div class="mb-5">
    <a class="btn btn-secondary" asp-action="Index">Back</a>
    <b>Add new character</b>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label asp-for="Icon"></label>
        <input class="form-control" asp-for="Icon" />
    </div>
    <div class="mb-3">
        <label asp-for="Order"></label>
        <input class="form-control" asp-for="Order" />
    </div>
    <button class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
