@model SongEditViewModel
@{
    ViewData["CurrentSongEditTab"] = "Details";
}

@{
    var youtubePlayer = $"https://youtube.com/embed/{Model.YouTubeId}";
    var headerModel = new SongEditHeaderPartialViewModel
    {
        Id = ViewBag.Id ?? 0,
        Title = Model.Title
    };
}

<partial name="_SongEditHeaderPartial" model="headerModel" />

<form method="post">
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
    </div>
    <div class="mb-3">
        <label asp-for="Year"></label>
        <input class="form-control" asp-for="Year" />
    </div>
    <div class="mb-3">
        <label asp-for="Cover"></label>
        <input class="form-control" asp-for="Cover" />
        <p>Cover preview:</p>
        <p>
            <img width="200" src="@Model.Cover" />
        </p>
    </div>
    <div class="mb-3">
        <label asp-for="YouTubeId"></label>
        <input class="form-control" asp-for="YouTubeId" />
        <p>YouTube preview</p>
        <p>
            <iframe class="player"
                    id="ytplayer"
                    type="text/html"
                    width="640"
                    height="360"
                    src="@youtubePlayer"
                    frameborder="0">
            </iframe>
        </p>
    </div>
    <button class="btn btn-primary">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
